{% extends "::base.html.twig" %}

{% block title %}RenaissanceBundle:News:index{% endblock %}

{% block body %}
<h1>Aktualności</h1>

{% for item in news %}
	<p><a href="{{ path('news_show', {'id': item.idNews}) }}">{{ item.title }}</a></p>
{% endfor %}

{% endblock %}
