{% extends "::base.html.twig" %}

{% block title %}RenaissanceBundle:News:show{% endblock %}

{% block body %}
<h1>Welcome to the News:show page</h1>

<a href="{{ path('news_archive_by_year_and_month', {'year': news.creationDate|date('Y'), 'month': news.creationDate|date('m')}) }}">Powrót</a>

<h2>{{ news.title }}</h2>

<div>
	{{ news.markup|raw }}
</div>

{% endblock %}
