{% extends 'base.html.twig' %}

{% block body %}
    <h2>News</h2>
    {% for item in news %}
        <p>
        <a href="/news/{{ item.getIdNews() }}">
            {{ item.getSlug() }}
        </a> #{{ item.getIdNews() }}
        </p>

    {% endfor %}
{% endblock %}
