{% extends "::base.html.twig" %}

{% block title %}RenaissanceBundle:Article:Index{% endblock %}

{% block body %}
<h1>Welcome to the Article:Index page</h1>

Artykuły z kategorii

{% for item in articles %}
    <p>
    <a href="{{ path('_category') }}{{ item['category'] }}/{{ item.slug }}">
        {{ item.slug }}
    </a> #{# item.getIdArticleCategory() #}
    </p>

{% endfor %}

{% endblock %}
