{% extends "::base.html.twig" %}

{% block title %}RenaissanceBundle:Article:Index{% endblock %}

{% block body %}
<h1>Welcome to the Article:Index page</h1>

<h2>Kategorie</h2>

{% for item in categories %}
    <p>
    <a href="{{ path('_category', {'category': item.getSlug()}) }}">
        {{ item.getSlug() }}
    </a> #{{ item.getIdArticleCategory() }}
    </p>

{% endfor %}

{% endblock %}
