{% extends "::base.html.twig" %}

{% block title %}RenaissanceBundle:Article:Show{% endblock %}

{% block body %}
<h1>Welcome to the Article:Show page</h1>

<a href="{{ path('_category', {'category': article.getCategory().getSlug()}) }}">back to list</a>

<h1>Artykuł</h1>
Kategoria: {{ article.category.slug }}

<h2>{{ article.title }}</h2>

<div>
	{{ article.markup|raw }}
</div>

{% endblock %}
