{% extends "::base.html.twig" %}

{% block title %}RenaissanceBundle:Article:Show{% endblock %}

{% block body %}
<h1>Welcome to the Article:Show page</h1>

<a href="{{ path('article_category', {'category': article.getCategory().getSlug()}) }}">back to list</a>

<h2>{{ article.title }}</h2>
<h3>Kategoria: {{ article.category.slug }}</h3>

<div>
	{{ article.markup|raw }}
</div>

{% endblock %}
