Hello World!

<h1>Avaiable pages</h1>

<ul>
	<li>News (<a href="{{ path('news_index') }}">Latest</a>, <a href="{{ path('news_archive') }}">Archive</a>)</li>
	<li>Articles (<a href="{{ path('article_index') }}">by Categories</a>)</li>
</ul>